canvas { 
	height: 200px;
	width: 1000px;
}

.map-container, .chart-container {
	padding-left: 5%;
}

.container {
	padding-top: 5%;
}

 #map {
 	height: 400px;
 	width: 1000px;
 }

 #line {
 	width: 1000px;
 }
